.sidePanel {
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 1;
}
.panelCon {
    height: 100%;
    background-color: #5251B0;
    padding: 10px 0px;
    color: #ffffff;
}
.panelCon .panelHeader {
    padding: 50px 20px 30px;
    margin-bottom: 10px;
    text-align: center;
}
.panelCon .panelHeader a{
    color: #ffffff;
    text-decoration: none;
}
.panelBody .classesList {
    text-align: center;
}
.panelBody .classesList ul > li {
    transition: 0.2s;
    cursor: pointer;
}
.panelBody .classesList ul > li:hover,.panelBody .classesList ul > li.active {
    background-color: #39388C;
    border-left:5px solid #ffffff;
}
.panelBody .classesList ul > li > a {
    display: block;
    padding: 20px;
}
