.mainPanel {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    min-height: 100%;
    min-width: 1200px;
    background-color: #f4f4f4;
}
.mainPanelIntro {
    text-align: center;
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
    top: 40vh;


}
.mainPanelIntro h1 {
    color: #555;
    font-weight: normal;
}
.mainPanelHeader {
    padding: 30px 60px;
    border-bottom: 3px solid #39388C;
    
}
.mainPanelHeader .mainPanelHeaderCon {
    display: flex;
    justify-content: space-between;
}
.mainPanelHeader .headerAddDet {
    background-color: #ffffff;
    margin: 30px 20px 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.mainPanelHeader .headerAddDet h3{
    font-weight: 700;
}
.mainPanelHeader .headerBox > h1,h4 {
    font-weight: normal;
    margin: 10px 0;
}
.mainPanelHeader .headerBox > h4 {
    color: #555;
}
.mainPanelHeader .headerBox:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainPanelHeader .headerBox .showAvgBut {
    padding: 10px 45px;
    background-color: #ffffff;
    text-align: center;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #999;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat";
    transition: 0.2s;
}
.mainPanelHeader .headerBox .showAvgBut.active,.mainPanelHeader .headerBox .showAvgBut:hover {
    background-color: #39388C;
    color: #ffffff;
}
.mainPanelBody {
    padding: 60px 120px;
}
.mainPanelBody .studentList {
    /* text-align: center; */
}
.mainPanelBody .studentInfo {
    position: relative;
    width: 350px;
    height: 280px;
    background-color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    display: inline-block;
    margin: 20px;
    padding: 30px;
}
.mainPanelBody .studentInfo .infoHeader{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px 0 20px;
}
.mainPanelBody .studentInfo .infoHeader span:nth-child(1){
    color: #5251B0;
    font-size: 18px;
}
.mainPanelBody .studentInfo .infoHeader span:nth-child(2){
    color: #45B4F2;
    font-size: 20px;
}
.mainPanelBody .studentInfo .infoBody{
    padding: 20px 0;
}
.mainPanelBody .infoBody .infoMarks {
    margin: 15px 0;
    display: flex;
    justify-content: start;
    font-weight: bold;
}
.mainPanelBody .infoBody .infoMarks span.infoMarksName {
    color: #39388C;
    font-size: 14px;
    display: inline-block;
    min-width: 140px;
}
.mainPanelBody .infoBody .infoMarks span.infoMarksPer {
    color: #45B4F2;
    font-size: 16px;
    margin-left: 30px;
}
.mainPanelBody .infoBody .infoMarks span.perBar {
    position: relative;
    min-width: 140px;
    width: 140px;
    height: 10px;
    background-color: #aaa;
    border-radius: 20px;
    align-self: center;
}
.mainPanelBody span.perBar > .perBarValue {
   position: absolute;
   top: 0;left: 0;
   height: 100%;
   border-radius: 20px;
   background-color: #39388C;
}