@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,body {
    margin:0;
    padding: 0;
    min-height: 100%;
    font-family: "Montserrat";
    letter-spacing: 1px;
}
.layout {
    
}
li {
    list-style: none;
}
li a {
    color: #eaeaea;
    text-decoration: none;
}
li a:hover {
    color: #ffffff;
    transition: 0.1s;
}
ul {
    padding: 0;
    margin: 0;
}
